name: Cache Dependencies

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: cache-ff1d93c
        id: cache-step
        uses: actions/cache@v4
        with:
          path: ~/.cache
          key: cache-ff1d93c

      - name: prime-cache-ff1d93c
        run: echo "Cache hit result - ${{ steps.cache-step.outputs.cache-hit }}"
