name: Hello World

on:
  push:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: "24f1001664@ds.study.iitm.ac.in"
        run: echo "Hello, world! from Guru"
